.tg-banner-section {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
}

.tg-banner {
    background-color: @accent;
    border-radius: 40px;
    color: #fff;
    padding: 60px 48px;
    position: relative;

    .btn {
        min-width: 240px;
    }
}

.tg-banner__description {
    width: 62%;
    position: relative;
    z-index: 10;
}

.tg-banner__title {
    font-size: 50px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.tg-banner__text {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 70px;
    max-width: 540px;
}

.tg-banner__image {
    position: absolute;
    bottom: 0;
    right: 36px;
    max-width: 44%;

    img {
        display: block;
        max-width: 100%;
    }
}